/* .container{
    border: 4px solid black;
}

.row{
    border: 3px solid green;
}


.col-12 ,  .col-3{
    border: 2px solid red;
} */


#cimage{
    height: 600px;
}


#pimage{
    height: 300px;
}